@import url(css/header.css);
@import url(css/buttons.css);
@import url(css/home.css);
@import url(css/bio.css);
@import url(css/contact.css);
@import url(css/disco.css);
@import url(css/gallery.css);
@import url(css/footer.css);
:root {
  --darkBrown: #630B35;
  --lightBrown: #CDC3C7;
  --gray: #9B9B9B;
  --black: #000;
  --orange: #FA3636;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

@font-face {
  font-family: "Brittany";
  src: url('./fonts/BrittanySignature.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightBrown);
  font-family: 'Oswald', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--darkBrown);
  display: inline-block;
}

h1 {
  font-family: 'Brittany';
}

h2 {
  font-family: 'Brittany';
  color: #FFF;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 3.22px;
  text-align: center;
}

@media(max-width:1024px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  color: #000;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.paragraph {
  color: #453F3F;
  font-family: Oswald;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

@media(max-width:1024px) {
  .paragraph {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}
/*
.bg_home {
   background: url("assets/bg_home.jpg") no-repeat; 
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media(max-width:1024px) {
  .bg_home {
    background: url("assets/bg_home_mobile.jpg") no-repeat;
    background-size: cover;
  }
}
*/

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
}

.container_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  background: url('./assets/bg_title_desktop.jpg');
  padding: 50px;
}

@media(max-width:1024px) {
  .pageTitle {
    background: url('./assets/bg_title_mobile.jpg');
    padding: 25px;
  }
}

/* Pages */
#bio,
#disco,
#contact,
#gallery {
  background: var(--lightBrown);
}

@media(max-width:1024px) {
  .container {
    padding: 50px 16px;
  }
}